.theme-box{
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 4px;
}

.theme-container{
    display: flex;
    align-items: center;
}

.theme-container:hover{
    cursor: pointer;
    background-color: rgba(238, 227, 227, 0.18);
}

.theme-active{
    background-color: rgba(255, 255, 255, 0.341);
    border: 1px solid rgba(98, 98, 98, 0.814);
}
.active{
    border: 0 !important;
}
.active>.page-link, .page-link.active{
    border-color: rgba(0, 0 , 0, 0.2) !important;
    background-color: white !important;
    color: black !important;
}

.theme-light{
    background-color: black !important;
    color: white !important;
}